<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAhdCowM1ZHPfy6etf1DT0pzx7iut5tc-4</string>
	<key>GCM_SENDER_ID</key>
	<string>511478810328</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.restaurantApp</string>
	<key>PROJECT_ID</key>
	<string>restaurant-app-8d92d</string>
	<key>STORAGE_BUCKET</key>
	<string>restaurant-app-8d92d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:511478810328:ios:3dfa5b7fc7568361d2b9ad</string>
</dict>
</plist>